.job {
  @media screen and (max-width: 1199.98px) {
    display: none;
  }
}

.job__list {
  display: flex;
  gap: 30px;
}

.job__item {
  flex-basis: calc((100% - 30px * 2) / 3);
}

.job__image {
  display: block;
  max-width: 100%;
}

.job__wrapper {
  position: relative;
}

.job__text {
  position: absolute;
  left: 0;
  bottom: 0;

  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
}
